/* custom css page for restaurant */
/* body{
background-color: pink;
} */

div.hours p{
font-size: 20px;
}

div.address p{
font-size: 20px;
}

h1.header {
text-align: center;
font-size: 40px
}

h3.special{
color: red;
}

.history{
text-align:center;
}

div.history p{
font-size: 20px;
}

.carousel-inner{
    width: 70%; /* for example */
    margin: auto;
}

./* carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
} */